.subHeader {
    position: relative;
    height: 49px;

    background: gray;
    border-radius: 7px;
    border-color: black;
    margin: 0 44px 0px 44px;
    background: #fcfcfc;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 250px;
    z-index: 22;
}

.city {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    gap: 3px;
}
