.subHeader {
    height: 49px;

    background: gray;
    border-radius: 7px;
    border-color: black;
    margin: -20px 44px 0px 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 250px;
}

.city {
    height: 18px;
    left: 180px;
    top: 78px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
}